* {
    margin: 0;
    padding: 0;
}

body {
    background: url(img/ninbg.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    width: 100%;
    margin: auto;
}